<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Information is Secure</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let profile of profiles">
      <td>{{profile.firstName}}</td>
      <td>{{profile.lastName}}</td>
      <td>{{profile.age}}</td>
      <td>{{profile.gender}}</td>
      <td>{{profile.isPrivateProfile?Yes:No}}</td>
    </tr>
    
  </tbody>
</table>